<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'pessoadetails')}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>Cadastro</title>
</head>
<body>
	<div class="container-fluid">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h4>Pessoa</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel-footer">
						<div th:each="p: ${pessoaobj}" class="panel-body">
							<font style="vertical-align: inherit;"><font
								style="vertical-align: inherit;">
									<p>
										Id: <span th:text="${p.id}"></span>
									</p>
									<p>
										Nome: <span th:text="${p.nome}"></span>
									</p>
									<p>
										Sobrenome: <span th:text="${p.sobrenome}"></span>
									</p>
									<p>
										Email: <span th:text="${p.email}"></span>
									</p>
									<p>
										Role: <span sec:authentication="authorities"></span>
									</p>
	
							</font></font>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h4>Pessoa Detalhes</h4>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="panel-footer">
							<div th:each="d: ${pessoaDetails}" class="panel-body">
										<p>
											Cpf: <span th:text="${d.cpf}"></span>
										</p>
										<p>
											Mobile: <span th:text="${d.mobile}"></span>
										</p>
										<p>
											Profissão: <span th:text="${d.profissao}"></span>
										</p>
										<p>
											Data Nasc.: <span th:text="${d.datanascimento}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.cep}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.rua}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.bairro}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.cidade}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.uf}"></span>
										</p>
										<p>
											Cpf: <span th:text="${d.ibge}"></span>
										</p>
										<p>
											Role: <span sec:authentication="authorities"></span>
										</p>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
			<div class="container">
				<hr>
				<h2>Cadastrar Pessoa Detalhes</h2>
				<!-- Inicio do formulario -->
				<form method="post"
					th:action="@{/adddetailpessoa/{idpessoa}(idpessoa=${pessoaobj.id})}"
					class="form-horizontal">

					<div class="form-group">
						<label class="control-label" for="cpf">Cpf</label> <input id="cpf"
							name="cpf" type="text" size="30"
							placeholder="digite o numero de seu cpf">
					</div>

					<div class="form-group">
						<label class="control-label" for="mobile">Mobile</label> <input
							id="mobile" name="mobile" type="text" size="27"
							placeholder="digite o numero de seu celular">
					</div>

					<div class="form-group">
						<label class="control-label" for="profissao">Profissao</label> <input
							id="profissao" name="profissao" type="text" size="25"
							placeholder="digite sua profissao">
					</div>

					<div class="form-group">
						<label class="control-label" for="datanascimento">Data
							Nasc.</label> <input id="datanascimento" name="datanascimento"
							type="text" size="24" placeholder="digite a data de nascimento">
					</div>

					<div class="form-group">
						<label class="control-label" for="cep">Cep</label> <input
							name="cep" type="text" id="cep" value="" size="30" maxlength="9"
							onblur="pesquisacep(this.value);"
							placeholder="digite o cep e pressione <TAB>">
					</div>

					<div class="form-group">
						<label class="control-label" for="rua">Rua</label> <input
							name="rua" type="text" id="rua" size="30"
							placeholder="preencha o numero do campo rua">
					</div>

					<div class="form-group">
						<label class="control-label" for="bairro">Bairro</label> <input
							name="bairro" type="text" id="bairro" size="28">
					</div>

					<div class="form-group">
						<label class="control-label" for="cidade">Cidade</label> <input
							name="cidade" type="text" id="cidade" size="28">
					</div>

					<div class="form-group">
						<label class="control-label" for="uf">Estado</label> <input
							name="uf" type="text" id="uf" size="2">
					</div>

					<div class="form-group">
						<label class="control-label" for="ibge">IBGE</label> <input
							name="ibge" type="text" id="ibge" size="8">
					</div>

					<div class="form-group">
						<div class="col-lg-9 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</form>

			</div>
			<hr>
		</div>
	
</body>
</html>



