body {
	text-align:center;
	background-color:#d3d7cf;
	min-width:100%;
	max-width:100%;
	height:auto;
}

.panel-footer {
	min-width: 100%;
	max-width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
}

footer {
	background-color:#d3d7cf;
	min-width:100%;
	max-width:100%;
	height:auto;
}